[Unit]
Description=MansionEye Bot

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/opt/mansionEyeBot/mansionEyeBot

[Install]
WantedBy=multi-user.target
